version: 2
updates:
  - package-ecosystem: "cargo" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    groups:
      tracing:
        applies-to: "version-updates"
        patterns:
          - "tracing-*"
